:root {
    --bg: #000000;
    --c-blue: #00c2ff;
    --c-green: #33ff8c;
    --c-yellow: #ffc640;
    --c-pink: #e54cff;
}
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: #fff;
    margin: 0;
    background-color: var(--bg);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}
#title {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    position: relative;
    background: var(--bg);
    margin: 0;
    overflow: hidden;
}
#content {
    text-align: center;
}
#circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
}

.circle {
    position: absolute;
    width: 70vw;
    height: 70vh;
    background-color: var(--c-blue);
    /*four random values for border-radius*/
    border-radius: 14% 34% 41% 20% / 14% 34% 41% 16%;
    mix-blend-mode: overlay;
    filter: blur(2rem);
}
